<head>
	<title>hackBack</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="favicon.png">
	<meta property="og:site_name" content="hackBack">
	<meta property="og:title" content="A team of D-evelopers and hackathon aficionados." />
	<meta property="og:description" content="A team of D-evelopers and hackathon aficionados. Based in Munich and the Internet." />
	<meta property="og:image" itemprop="image" content="https://hackback/images/logo/hb.jpg">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://hackback.tech" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@teamhackback">
	<meta name="twitter:creator" content="@teamhackback">
	<meta name="twitter:title" content="hackBack">
	<meta name="twitter:description" content="A team of D-evelopers and hackathon aficionados. Based in Munich and the Internet.">
	<meta name="twitter:image" content="https://hackback.tech/images/logo/hb.jpg">
</head>
